	body {
	font-family: system-ui, sans-serif;
	margin: 0;
	padding: 24px;
	color: #333;
	}
	h1{ color: red}
	h2{ color: blue}
	h3{ color: green}
	p{ color: white}
	body {
	background-color: black;
	}
  p2{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
  p2{ color: white}
